* {
    font-family: Arial;
}

header {
    color: white;
}

header div {
    background-color: #154872de;
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

header img {
    width: 150px;
    height: 55px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

header h1 {
    font-size: 30px;
    margin: 0;
}

nav {
    background-color: rgb(110, 117, 122);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

nav a:hover {
    background-color: rgb(88, 88, 88);
}


@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    nav ul {
        display: block;
        text-align: center;
    }
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px; 
    padding: 20px;
}

.galeria img {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
    transition: transform 0.3s ease-in-out; 
}

.galeria img:hover {
    transform: scale(1.10); 
}

section img {
    display: block; 
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    border-radius: 10px; 
    margin: 10px auto; 
    transition: transform 0.3s ease-in-out;
}

section img:hover {
    transform: scale(1.05); 
}
